<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error.html" />
  </system.web>

    <connectionStrings>
      <add name="bakery" connectionString="Server=tcp:i158gc9m86.database.windows.net,1433;Database=buggybakerydb;User ID=apurvajo@i158gc9m86;Password=iis6!dfu;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="/order/1">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="200" />
        </add>
        <add path="/order/6">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500" />
        </add>
        
      </traceFailedRequests>
    </tracing>

    <modules>
      <add name="LazyModule" type="LazyModule.LazyModule"/>
    </modules>

<!-- <monitoring>

               <triggers>

                    <requests count="5" timeInterval="00:00:30" />

                    <statusCode>

                         <add statusCode="404" subStatusCode="0" win32StatusCode="0" count="5" timeInterval="00:00:30" />

                         <add statusCode="300" subStatusCode="0" win32StatusCode="0" count="3" timeInterval="00:00:30" />

                    </statusCode> 
                    <slowRequests timeTaken="00:00:05" count="1" timeInterval="00:00:30" />

                    <memory privateBytesInKB="500000" />     

               </triggers>
               <actions value="Recycle" />

               <actions value="LogEvent" />

               <actions value="CustomAction" >

                    <customAction exe="D:\home\data\DaaS\bin\DaasConsole.exe" parameters="-CollectKillAnalyze &quot;Memory Dump&quot; 60" />

               </actions> 
 
       </monitoring> -->

  </system.webServer>

  
</configuration>
